<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('stylesheet.ejs') %>
  
</head>
<body>
  <nav>
    <ul class="nav-links">
      <li class="home" style="--animation-order: 1;"><a href="/">Home Page</a></li>
      <li class="gallery" style="--animation-order: 2;"><a href="/gallery">Image Gallery</a></li>
      <li class="resources" style="--animation-order: 3;"><a href="/resources">Resources</a></li>
      <li class="register" style="--animation-order: 4;"><a href="/register">Register</a></li>
    </ul>
  </nav>