* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(172, 23, 23, 0.747);
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin-left: 70px;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

a {
  color: rgb(31, 26, 26);
  text-decoration: none;
  font-size: 2vw;
  padding: 8px;
}

li a:hover {
  color: rgb(238, 213, 115);
}

.active {
  border-bottom: 2px solid cornsilk;
}

.active a:hover {
  color: cornsilk;
}

/* Animation for the nav links to have the bouncy animation-------------------------------------------------- */
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  80% {
    transform: translateY(7vh);
    opacity: 1;
  }
}

#regbut {
  margin-top: 60px;
  animation: slide 1s ease;
  width: 13rem;
  text-align: center;
  border-radius: 0% 10% 10% 0%;
  transition: .6s ease;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -5px);
}

#regbut:hover {
  box-shadow: none;
  transform: translate(0px, 0px);
}

/* An animation for the register now button to slide in from the left hand side of the screen----------------- */
@keyframes slide {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateY(-5px);
  }
}




/* A nice footer I had made for Gary's gitsass project----------------------------- */
footer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgba(172, 23, 23, 0.747);
  height: 8.3em;
  width: fit-content;
}

.copyright {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 1.8em;
  color: rgb(75, 67, 67);
}

/* Allows the to still be legible and not break the screen on the mobile view */
@media screen and (max-width: 600px) {

  .nav-links li {
    margin-left: 10px;
  }

  a {
    font-size: 3vw;
  }

  #regbut a {
    font-size: 5vw;
    transition: 1s ease;
  }

}
/* ------------------------------------------------------------------------------------------------------------------------ */


/* Dibert Comic page----------------------------------------------------------------------------------------------------- */

#dilb {
  animation: slide-up .4s ease;
  margin-left: 10vw;
  margin-top: 4rem;
}

#dilb a {
  
  font-size: 7rem;
  transition: .4s ease-in-out;
}

#dilb a:hover {
  background-color: rgb(223, 217, 196);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


@keyframes slide-up {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(10vw);
  }
}



@media screen and (max-width: 800px) {
  #dilb a {
    margin-left: 0;
  }
}


/* emdia query for the footer---------------------------------- */

@media screen and (max-width: 2000px) {
  footer {
    width: 100vw;
  }
}

@media screen and (max-width: 780px) {
  footer {
    position: relative;
  }
}