* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(172, 23, 23, 0.747);
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin-left: 70px;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: calc(var(--animation-order) * 200ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

a {
  color: rgb(31, 26, 26);
  text-decoration: none;
  font-size: 2vw;
  padding: 8px;
}
 
li:hover {
  color: red;
}

.active {
  background-color: rgba(255, 166, 0, 0.438);
}


@keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateY(-100vh);
    }
    
    80% {
      transform: translateY(7vh);
      opacity: 1;
    }
  }

  #regbut {
    margin-top: 60px;
    animation: slide 1s ease;
    width: 13rem;
    text-align: center;
    border-radius: 0% 10% 10% 0%;
    transition: .6s ease;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #regbut:hover{
    box-shadow: none;
  }

  @keyframes slide {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateY(0vw);
    }
  }

  



  footer {
      position: absolute;
      bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: rgba(172, 23, 23, 0.747);
        height: 8.3em;
        width: 100vw;
  }
  
  .copyright {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 1.8em;
   color: rgb(75, 67, 67);
  }
  
  @media screen and (max-width: 600px){

    .nav-links li {
      margin-left: 10px;
    }
    a {
      font-size: 3vw;
    }

    #regbut a {
      font-size: 10vw;
      color: red;
    }
    
  }