* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(172, 23, 23, 0.747);
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin-left: 70px;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: calc(var(--animation-order) * 200ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

a {
  color: rgb(31, 26, 26);
  text-decoration: none;
  font-size: 30px;
  padding: 8px;
}
 
a:hover {
  background-color: rgb(223, 212, 171);
  text-align: center;
}


@keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateY(-100vh);
    }
    
    80% {
      transform: translateY(7vh);
      opacity: 1;
    }
  }

  footer {
      position: absolute;
      bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: rgb(216, 210, 187);
        height: 8.3em;
        width: 100vw;
  }
  
  .copyright {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 1.8em;
   color: rgb(75, 67, 67);
  }